# Docker
MSSQL_SA_PASSWORD=ChangeThis_StrongPassword!123
MSSQL_PORT=1433

# Backend
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=mini_mes;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=ChangeThis_StrongPassword!123
